html {
  scroll-behavior: smooth;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

/* montserrat-regular - latin */
* {
  font-family: "Montserrat", sans-serif;
}

h2, h3, nav ul li a {
  font-family: "Silkscreen", cursive;
}

h1 {
  font-family: "Changa", sans-serif;
}

.texte-pour-lecteur {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

body {
  background-color: #FEFAE0;
  margin: 0;
}

header {
  background-color: #606C38;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}
.header a {
  width: 50%;
  margin-bottom: 5px;
}
.header img {
  width: 100%;
}

nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #FEFAE0;
  padding: 10px;
  background-color: #DDA15E;
  transition: 0.3s ease-in-out;
  border: 3px solid #DDA15E;
  border-radius: 15px;
}
nav ul li a:hover {
  background-color: #BC6C25;
  padding: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.current {
  background-color: #BC6C25;
}

.groupe {
  display: flex;
  border-radius: 15px;
  background-color: #DDA15E;
  padding: 10px;
  margin-top: 20px;
}
.groupe img {
  width: 100%;
  border-radius: 15px;
  margin: 16px 0;
}
.groupe p {
  margin-left: 10px;
}

.burger {
  display: none;
}

table {
  border: 5px solid #DDA15E;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  width: 70%;
}
table tr th {
  font-family: "Silkscreen", cursive;
  font-size: 20px;
}
table tr td {
  border: 3px solid #DDA15E;
  border-radius: 5px;
  padding: 10px;
  height: 20px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 33% 33% 33%;
}

.card {
  padding: 10px;
  border-radius: 15px;
  width: 75%;
  background-color: #DDA15E;
  margin: 0 auto;
  margin-bottom: 15px;
}
.card p {
  margin: 0;
}
.card img {
  width: 100%;
  border-radius: 15px;
}
.card h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  min-height: 65px;
}

footer {
  background-color: #606C38;
  overflow: auto;
}
footer p {
  display: block;
}

fieldset, legend {
  border: none;
  display: none;
  padding-bottom: 0;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulaire .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 70%;
  text-align: center;
  background-color: #DDA15E;
  margin-top: 21px;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 40px;
}
.formulaire .titre div img {
  width: 20%;
}

.flex, .flex-radio, .flex-form {
  display: flex;
}

.flex-form {
  justify-content: space-evenly;
}

.flex-informations {
  flex-direction: column;
  justify-content: flex-start;
}

.flex-radio {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

form {
  background-color: #DDA15E;
  border-radius: 15px;
  padding: 40px;
  padding-top: 10px;
  width: 70%;
  margin-bottom: 15px;
}
form h1 {
  text-align: center;
  margin: 0;
}
form textarea {
  border-radius: 15px;
  border: 2px solid #BC6C25;
  padding: 5px;
  width: 100%;
  height: 163px;
  margin-top: 5px;
}
form select {
  height: 33.8px;
  border-radius: 15px;
  border-style: none;
  border: 2px solid #BC6C25;
  padding: 5px;
  width: 100%;
}
form input {
  border-radius: 15px;
  border-style: none;
  border: 2px solid #BC6C25;
  padding: 5px;
  height: 20px;
}
form input[id=nom] {
  width: 100%;
}
form input[type=radio] {
  width: 30px;
  height: 28px;
  margin-top: 5px;
}
form input[type=radio] + label {
  font-size: 19px;
  height: 100%;
  padding-top: 7px;
}
form div label {
  font-size: 19px;
  display: block;
}
form div label::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
form .div-flex {
  display: flex;
}
form > div {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.325);
}
form .form-nom-age {
  display: flex;
}
form .form-nom-age > div {
  width: 49%;
  margin: 0 2.5px;
}
form .button, form .form-button input {
  width: 45%;
  height: 30px;
  background-color: #606C38;
  color: #FEFAE0;
  border-radius: 15px;
  border-style: none;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
}
form .form-button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}
form .form-button input[type=submit]:hover {
  background-color: #525d30;
}
form .form-button input[type=reset] {
  background-color: rgb(170, 30, 30);
}
form .form-button input[type=reset]:hover {
  background-color: rgb(139, 26, 26);
}
form input:not(input[type=submit], input[type=reset]), form select {
  margin-bottom: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 740px) {
  nav {
    display: none !important;
  }
  .burger {
    position: absolute;
    left: 5px;
    display: block;
    width: 40px;
  }
}
@media only screen and (max-width: 620px) {
  .groupe {
    flex-direction: column !important;
  }
  .groupe img {
    margin: 0;
  }
  table {
    width: 100%;
  }
  .grid {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 400px) {
  .grid {
    display: block;
  }
  .burger {
    position: absolute;
    left: 5px;
    display: block;
    width: 35px;
  }
}/*# sourceMappingURL=style.css.map */